{:paths    ["src"]
 :deps     {org.clojure/clojure            {:mvn/version "1.10.3"}
            com.xtdb/xtdb-core             {:mvn/version "1.19.0-beta1"}
            com.xtdb/xtdb-rocksdb          {:mvn/version "1.19.0-beta1"}
            clj-http/clj-http              {:mvn/version "3.12.3"}
            metosin/jsonista               {:mvn/version "0.3.4"}
            ;; logging:
            org.clojure/tools.logging      {:mvn/version "1.1.0"}
            ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
            ch.qos.logback/logback-core    {:mvn/version "1.2.3"}
            org.slf4j/slf4j-api            {:mvn/version "1.7.30"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {djblue/portal {:mvn/version "0.18.0"}}}}
 :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]}
