{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.xtdb/xtdb-core {:mvn/version "1.19.0-beta1"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        metosin/jsonista {:mvn/version "0.3.4"}
        org.slf4j/slf4j-nop {:mvn/version "1.8.0-beta4"}}}